body {
    background-color: rgb(175, 172, 172);
   

}
div{
    text-align: center;
    
}   
ul li{
  display:flow-root;
  align-items: center;
  flex-direction: column;
  padding: 0;
  


}
.footer-box{
    
    background-color: antiquewhite;
  
    padding: 15px;
    display:list-item;
   
    
}
 .Rede{
    text-decoration: rgb(119, 137, 187);
    font-size: 50px;

}

 
